include parts/head.pug
.container
    include parts/header.pug
    section.row
        .jumbotron.col-12
            p.display-4 Bienvenue sur mon mini carnet d'adresse des Dinosaures
    include parts/footer.pug